<script type="text/ejs" id="NsMovieView1">
  	<div class="[%=class1%]">
  		<div>
  			<span><h3>电影名 : </h3> [%=MovieName%]</span>
  		</div>
  		<div>
  			<span><h3>原语名 : </h3> [%=original%]</span>
  		</div>
  		<div>
  			<span><h3>出品年限 : </h3> [%=year%]</span>
  		</div>
  		<div>
  			<span><h3>评分 : </h3> [%=rating%]</span>
  		</div>
  		<img src="[%=images%]"></img>
  	</div>
</script>
<script type="text/ejs" id="NsMovieView2">
	<div class="moreMovie moreMovie1">
  		<span>加载更多</span>
  	</div>
  	<div class="moreMovie moreMovie0">
  		<div class="moreMovie moreMovie2">
  		</div>
  	</div>
</script>
<script type="text/ejs" id="NsMovieView3">
  	<div class="moreMovie3">
  		<span>全部加载完毕</span>
  	</div>
</script>