body{  
margin:0px;  
}  
#box{  
width:750px;  
height:1000px;  
margin:auto;  
  
}  
#head{  
width:750px;  
height:150px;  
background:#00FFCC;  
}  
#mid{  
width:750px;  
height:700px;  
background:#33CCFF;  
}  
#mid_left{  
width:350px;  
height:700px;  
float:left;  
}  
#mid_right{  
width:400px;  
height:700px;  
float:left;  
}  
#foot  
{  
width:750px;  
height:150px;  
background:#00FFCC;  
}  