<script type="text/ejs" id="bookdetail">
    <div class="round">
        <div class="detail">
            <div class="detail-left">
                <img class="book-img" src="[%= book.img%]"/>
            </div>
             <div class="detail-right">
                <p class="book-name">[%= book.name%]</p>
                <p class="book-desc">[%= book.desc%]</p>
                <p class="book-price">[%= book.price%]</p>
                <p class="book-category">[%= book.category%]</p>                                
            </div>
            <button class="subtract" id="subtractBtn">-</button>
            <input class="inputCount" type="text" id="Count">
            <button class="add" id="addBtn">+</button>
            <button class="append" id="appendCart">添加到购物车</button>
        </div>
    </div>
</script>